* {
    background-color: slategray;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    height: 300px;
    width: auto;
}

h1 {
    color: magenta;
}

h3 {
    color: mediumspringgreen;
}

li, p {
    color: navajowhite;
}

a {
    color: palevioletred;
}